.CurrentWeatherInfo .first-line {
  display: flex;
  width: 580px;
  justify-content: space-between;
  margin-top: 20px;
  line-height: 60px;
}
.CurrentWeatherInfo .left-first-line {
  display: flex;
  width: 500px;
}
.CurrentWeatherInfo .current-icon {
}

.CurrentWeatherInfo .current-weather-unit {
  vertical-align: top;
  margin-top: -20px;
}

.CurrentWeatherInfo .current-weather-condition {
  color: #70757a;
  font-size: 14px;
  line-height: 15px;
  margin: 15px 0;
}

.CurrentWeatherInfo .right-first-line {
  text-align: right;
  font-size: 22px;

  line-height: 22px;
  width: 250px;
}

.CurrentWeatherInfo .current-day-time {
  font-size: 16px;
  color: #70757a;
}
