a {
  color: #885df1;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.Search {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgb(0 0 0 / 90%);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

.search-button:hover {
  background-color: #714eca;
}

.weatherMain {
  padding: 20px 0px 10px 0px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.city-weather-condition {
  max-width: 60%;
}

.current-city {
  font-size: 26px;
  font-weight: 900;
  line-height: normal;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}

.current-temperature {
  display: flex;
  justify-content: space-between;
}

.current-icon {
  margin-top: 0px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 88px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
}

.row {
}

.col-1 {
  max-width: 60px;
  text-align: center;
}

.weather-forecast-day {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.forecast-icon {
  margin: -5px -5px -5px -5px;
  width: 70px;
  height: 70px;
}

.max-man-temperature {
  display: flex;
  justify-content: space-around;
}

.forecast-temperature-max {
  font-weight: bold;
  font-size: 16px;
  color: #f65282;
}

.forecast-temperature-min {
  font-size: 16px;
  color: #f65282;
}

.Footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  font-size: 14px;
  color: rgba(39, 33, 66, 0.4);
}
